#==============================================================================#
# OS GITIGNORE
#
# This file specifies intentionally untracked files that git should ignore.
# See: http://www.kernel.org/pub/software/scm/git/docs/gitignore.html
#==============================================================================#

#==============================================================================#
# PROJECT
#==============================================================================#
_ignore
.credentials.sh

#==============================================================================#
# OS
#==============================================================================#
#==============================================================================#
# Linux
#==============================================================================#
#==============================================================================#
#   General
#==============================================================================#
*~
#==============================================================================#
#   KDE directory preferences
#==============================================================================#
.directory
#==============================================================================#
#   Linux trash folder which might appear on any partition or disk
#==============================================================================#
.Trash-*

#==============================================================================#
# Apple OSX
#==============================================================================#
#==============================================================================#
#   General
#==============================================================================#
.DS_Store
.AppleDouble
.LSOverride
.svn
#==============================================================================#
#   Icon must end with two \r
#==============================================================================#
Icon
#==============================================================================#
#   Thumbnails
#==============================================================================#
._*
#==============================================================================#
#   Files that might appear in the root of a volume
#==============================================================================#
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
#==============================================================================#
#   Directories potentially created on remote AFP share
#==============================================================================#
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

#==============================================================================#
# Microsoft Windows
#==============================================================================#
#==============================================================================#
#   Windows image file caches
#==============================================================================#
Thumbs.db
ehthumbs.db
#==============================================================================#
#   Folder config file
#==============================================================================#
Desktop.ini
#==============================================================================#
#   Recycle Bin used on file shares
#==============================================================================#
$RECYCLE.BIN/
#==============================================================================#
#   Windows Installer files
#==============================================================================#
*.cab
*.msi
*.msm
*.msp
#==============================================================================#
#   Windows shortcuts
#==============================================================================#
*.lnk
